h1{
  font-weight: bold;
}
a{
  padding: 2.5px 10px ;
  border: 1px solid gray;
  background-color: orangered;
  color: white;
  cursor: pointer;
  /* font-size: 16px; */

}
.center{
  text-align: center;
  padding: 100px;
  background-color: antiquewhite;
}
