<!--Introduction-->
<section id="about" class="introduction scrollto">
  <div class="row clearfix">
    <div class="col-3">
      <div class="section-heading">
        <h3 style="color: red">Our Story</h3>
        <h2 class="section-title">
          We know how everything works <br />
          and why your business is failing <br />
          over and over again
        </h2>
        <img
          src="../../../assets/images/story-images/pexels-cottonbro-studio-3201630.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="col-2-3">
      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
        <!--Icon-->
        <img
          style="height: 300px; width: 250px; border-radius: 10px"
          src="../../../assets/images/story-images/story2.jpg"
          alt=""
        />
        <!--Icon Block Description-->
        <div class="icon-block-description">
          <p>
            We share common trends and strategies for improving your rental
            income and making sure you stay in high demand. With lots of unique
            blocks, you can easily build a page without coding. Build your next
            landing page.
          </p>
        </div>
      </div>
      <!--End of Icon Block-->

      <!--Icon Block-->
      <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
        <!--Icon-->
        <img
          style="
            height: 200px;
            width: 180px;
            border-radius: 10px;
            margin-top: 90px;
          "
          src="../../../assets/images/story-images/story3.jpg"
          alt=""
        />
      </div>
      <!--End of Icon Block-->
    </div>
  </div>
</section>
<!--End of Introduction-->

<div>
  <h3 style="color: red; text-align: center; font-size: 16px">Why choose us</h3>
  <h2 class="section-title" style="text-align: center; font-size: 30px">
    People choose us because we <br />
    serve the best for everyone
  </h2>
</div>

<div class="container">
  <div class="col-2-3">
  <!--Icon Block-->
  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
    <!--Icon-->
    <div class="icon">
    <i class="fa fa-user-o fa-2x" aria-hidden="true"></i>
    </div>
    <!--Icon Block Description-->
    <div class="icon-block-description">
      <h4>Dedicated Project Manager</h4>
      <p>
        Has ne tritani atomorum conclusionemque, in dolorum volumus cotidieque
        eum. At vis choro neglegentur iudico
      </p>
    </div>
  </div>
  <!--End of Icon Block-->

  <!--Icon Block-->
  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
    <!--Icon-->
    <div class="icon">
     <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
    </div>
    <!--Icon Block Description-->
    <div class="icon-block-description">
      <h4>Organized tasks</h4>
      <p>
        Cu vero ipsum vim, doctus facilisi sea in. Eam ex falli honestatis
        repudiandae, sit detracto mediocrem disputationi
      </p>
    </div>
  </div>
  <!--End of Icon Block-->

  <!--Icon Block-->
  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
    <!--Icon-->
    <div class="icon">
      <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
    </div>
    <!--Icon Block Description-->
    <div class="icon-block-description">
      <h4>Easy feedback sharing</h4>
      <p>
        Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit
        debet ea sit, an pro nemore vivendum
      </p>
    </div>
  </div>
  <!--End of Icon Block-->

  <!--Icon Block-->
  <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
    <!--Icon-->
    <div class="icon">
<i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
    </div>
    <!--Icon Block Description-->
    <div class="icon-block-description">
      <h4>never miss deadline</h4>
      <p>
        Id porro tritani recusabo usu, eum intellegam consequuntur et. Fugit
        debet ea sit, an pro nemore vivendum
      </p>
    </div>
  </div>
  <!--End of Icon Block-->
</div>
</div>

