<footer>
  <div class="footer-category">
    <div class="container">
      <div class="footer-nav">
        <div class="container">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 style="font-weight: bold; font-size: 30px">Brainwave.io</h2>
            </li>

            <p style="margin: 20px 0">
              With lots of unique blocks, you can eeasily build a page without
              coding. Build your next landing page.
            </p>

            <li class="footer-nav-item">
              <aside>
                <!--Social Icons in Header-->
                <ul class="social-icons" style="display: flex">
                  <li>
                    <i
                      target="_blank"
                      class="fa-brands fa-facebook"
                      href="https://www.facebook.com/profile.php?id=100006939274996"
                    ></i>
                  </li>
                  <li>
                    <i
                      target="_blank"
                      class="fa-brands fa-instagram"
                      href="https://www.instagram.com/mr.akshay_1323/"
                    ></i>
                  </li>
                  <li>
                    <i
                      target="_blank"
                      class="fa-brands fa-whatsapp"
                      href="https://www.facebook.com/profile.php?id=100006939274996"
                    ></i>
                  </li>
                  <li>
                    <i
                      target="_blank"
                      class="fa-brands fa-linkedin"
                      href="https://www.linkedin.com/in/akshay-taware-b249021a7/"
                    ></i>
                  </li>
                  <li>
                    <i
                      target="_blank"
                      class="fa-brands fa-github"
                      href="https://github.com/akshaytaware13"
                    ></i>
                  </li>
                </ul>
              </aside>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Company</h2>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">About Us</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Contact Us</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">careers</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Press</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Product</h2>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Features</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Pricing</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">News</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Help desk</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Support</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Services</h2>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Digital Marketing</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">Content Writing</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">SEO for business</a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">UI Design</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Contact</h2>
            </li>

            <li class="footer-nav-item flex">
              <div class="icon-box">
                <i class="bi bi-geo-alt"></i>
              </div>

              <address class="content">
                Rajiv Gandhi Infotech park, Hinjwadi Pune, Maharashtra, 411057,
                India
              </address>
            </li>

            <li class="footer-nav-item flex">
              <div class="icon-box">
                <!-- <ion-icon name="call-outline"></ion-icon> -->
              </div>

              <a href="tel:+919518914673" class="footer-nav-link">9518914673</a>
            </li>

            <li class="footer-nav-item flex">
              <div class="icon-box">
                <i class="fa fa-mail fa-2x"></i>
              </div>

              <!-- <a href="mailto:example@gmail.com" class="footer-nav-link">mr.akshaytaware96@gmail.com</a> -->
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Follow Us</h2>
            </li>

            <li>
              <ul class="social-link">
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <!-- <ion-icon name="logo-facebook"></ion-icon> -->
                  </a>
                </li>

                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <!-- <ion-icon name="logo-twitter"></ion-icon> -->
                  </a>
                </li>

                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <!-- <ion-icon name="logo-linkedin"></ion-icon> -->
                  </a>
                </li>

                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <!-- <ion-icon name="logo-instagram"></ion-icon> -->
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="copyright">
            Copyright &copy; <a href="#">Akshay Taware</a> all rights reserved.
          </p>
        </div>
      </div>

      <!-- </footer> -->
    </div>
  </div>
</footer>
