<section id="" class="text-center scrollto clearfix">
  <div class="row ">
    <div class="section-heading">
      <h3 style="color: red">CASE STUDIES</h3>
      <h2 class="section-title">
       Our works desrcibe why we are <br> the best in the business
      </h2>
    </div>

<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<section class="section">

  <div class="grid">
    <div class="item">
      <div class="item__details">
        jelly-o brownie sweet
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">

      </div> Muffin jelly gingerbread
    </div>
    <div class="item item--medium">
      <div class="item__details">
        Burger
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
       Magzine
      </div>
    </div>
      <div class="item item--medium">
      <div class="item__details">
        tree of seeds
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
       Salads
      </div>
    </div>

  </div>

</section>
