<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">

    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
              <h4 style="color: red;">LET'S SHIFT YOUR BUSINESS</h4>
                <h1>Shift your business fast with Shade Pro.</h1>
                <h2>With lots of unique blocks, you can easily build a  page
                  without coding. Build your next cnsultancy website within few minutes.
                </h2>
            </div>


            <!--Call to Action-->
            <a href="#" class="button">Get started a project</a>
            <!--End Call to Action-->

        </div>

        <div class="col-38">

           <img style="border-radius: 50%;width: 400px;height: 400px;margin-left: 100px;box-shadow: 5px 3px 75px #6421AA;" src="../../../assets/images/banner-images/banner-image-1.jpg" alt="">



        </div>
    </div><!--End of Row-->
  </header>

