body {
  background: #fff;
}

/* Default Link Color */

a,
.la-ball-triangle-path {
  color: #d2b356;
}

/* Default Icon Color */

.icon i {
  color: #d2b356;
}

/* Border Color */

#banner .section-heading:before,
.testimonial.classic footer:before {
  background: #d2b356;
}

#header nav a,
#header i {
  color: #111;
}

/* Navigation Colors when the Navigation is sticky and solid */

#header.nav-solid,
#header.nav-solid a,
#header.nav-solid i,
#nav-mobile ul li a {
  color: #333;
}

/* Navigation Active State */

#header.nav-solid .active {
  color: #d2b356;
  border-color: #d2b356;
}

.primary-color,
.featured .pricing {
  background-color: #d2b356;
}

.primary-color,
.primary-color .section-title,
.primary-color .section-subtitle,
.featured .pricing,
.featured .pricing p {
  color: #fff;
}

.section-heading h2:after {
  background: #d2b356;
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  margin-top: 30px;
}

.text-center .section-heading h2:after {
  margin: 30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i,
.primary-color i {
  color: #fff;
}

.secondary-color {
  background-color: #f5f5f5;
}

body {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 15px;
  font-weight: normal;
  color: #111;
}

#banner h1 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 62px;
  line-height: 60px;
  font-weight: 800;
  color: #111;
}

#banner h2 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: 300;
  color: #111;
}

.section-title {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 34px;
  font-weight: 700;
  color: #111;
}

.section-subtitle {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 16px;
  font-weight: 300;
  color: #9c9c9c;
}

/* Testimonial */

.testimonial q {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 17px;
  font-weight: 300;
}

.testimonial.classic q,
.testimonial.classic footer {
  color: #111;
}

/* Standard Headings h1-h6 */

h1 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 40px;
  font-weight: 300;
  color: #111;
}

h2 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 34px;
  font-weight: 300;
  color: #111;
}

h3 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 30px;
  font-weight: 700;
  color: #111;
}

h4 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 18px;
  font-weight: 400;
  color: #111;
}

h5 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 16px;
  font-weight: 400;
  color: #111;
}

h6 {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 400;
  color: #111;
}

.button,
input[type="submit"] {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: bold;
  color: #111;
}

.button,
input[type="submit"] {
  border-color: #111;
}

.button:hover,
input[type="submit"]:hover {
  border-color: #d2b356;
  color: #d2b356;
}

#banner .button {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 16px;
  color: white;
}

#banner .button {
  border-color: white;
}

#landing-footer,
#landing-footer p,
#landing-footer a {
  font-family: "Open Sans", sans-serif, Arial, Helvetica;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}

#landing-footer i {
  color: #999;
}

@media (min-width: 300px) and (max-width: 767px) {
  .section-title {
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
    font-size: 26px;
    font-weight: 700;
    color: #111;
    margin-top: 44px;
  }

  .section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 2px;
    padding-bottom: 0;
    margin-top: 45px;
  }
  input {
    width: 100%;
  }
  .pricing-block {
    /* margin:10 20px; */
    width: 89%;
  }
}
@media (min-width: 767px) and (max-width: 1600px) {
input{
  width: 50%;
}
}
