h1{
  font-weight: bold;
}
.center{
  text-align: center;
  background-color: antiquewhite;
height: auto;
  padding: 80px;
}
a{
  padding: 5px 10px ;
  background-color: orangered;
  color: white;
  /* margin-top: 40px; */
  border: none;
  text-align: center;
  justify-content: center !important;
  display: flex;

}
