<div id="header" class="nav-collapse">
  <div class="row clearfix">
    <div class="col-1">

      <div id="logo">

        <h1>Brainwave.io</h1>

      </div>


      <aside>

                    <a href="#" class="button tp">Get started a project</a>

      </aside>

      <nav id="nav-main">
        <ul>
          <li>
            <a
              routerLink="/home"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Home</a
            >
          </li>
           <li>
            <a
              routerLink="/services"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Services</a
            >
          </li>
          <li>
            <a
              routerLink="/about"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Story</a
            >
          </li>
          <li>
            <a
              routerLink="/gallery"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Case Study</a
            >
          </li>

          <li>
            <a
              routerLink="/testimonials"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Testimonials</a
            >
          </li>
 <li>
            <a
              routerLink="/post/create"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Contact Us</a
            >
          </li>

        </ul>
      </nav>
      <!--End of Main Navigation-->

      <div id="nav-trigger"><span></span></div>
      <nav id="nav-mobile"></nav>
    </div>
  </div>
</div>
<!--End of Header-->
