<!--Pricing Tables-->
<section id="" class="text-center scrollto clearfix">
  <div class="row ">
    <div class="section-heading">
      <h3 style="color: red">Our Services</h3>
      <h2 class="section-title">
        We provide great services for Our <br />
        customers based on needs
      </h2>
    </div>

    <!--Pricing Block-->
    <div class="pricing-block img1 col-3 wow fadeInUp" data-wow-delay="0.4s">
      <div class="pricing-block-content">
        <img src="../../../assets/images/services-images/s1.jpg" alt="" />
        <h3>Graphic Design</h3>
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          perspiciatis sunt aut reiciendis tenetur saepe cupiditate ipsam
          quaerat eum culpa totam laboriosam esse, illo veritatis deserunt
          suscipit ipsa, nam beatae.
        </h4>

        <a href="#">Learn More..</a>
      </div>
    </div>
    <!--End Pricing Block-->

    <!--Pricing Block-->
    <div
      class="pricing-block img2 featured col-3 wow fadeInUp"
      data-wow-delay="0.6s"
    >
      <div class="pricing-block-content">
        <img src="../../../assets/images/services-images/s2.jfif" alt="" />

        <h3>Web Developement</h3>
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          perspiciatis sunt aut reiciendis tenetur saepe cupiditate ipsam
          quaerat eum culpa totam laboriosam esse, illo veritatis deserunt
          suscipit ipsa, nam beatae.
        </h4>

        <a href="#">Learn More..</a>
      </div>
    </div>
    <!--End Pricing Block-->

    <!--Pricing Block-->
    <div class="pricing-block img3 col-3 wow fadeInUp" data-wow-delay="0.8s">
      <div class="pricing-block-content">
        <img src="../../../assets/images/services-images/s1.jpg" alt="" />

        <h3>Content Writing</h3>
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          perspiciatis sunt aut reiciendis tenetur saepe cupiditate ipsam
          quaerat eum culpa totam laboriosam esse, illo veritatis deserunt
          suscipit ipsa, nam beatae.
        </h4>

        <a href="#">Learn More..</a>
      </div>
    </div>
    <!--End Pricing Block-->
  </div>
</section>
<!--End of Pricing Tables-->
